{% if site.author.github %}<a href="http://www.github.com/{{site.author.github}}" class="icon-button fa-github"></a>{% endif %}
{% if site.author.twitter %}<a href="http://www.twitter.com/{{site.author.twitter}}" class="icon-button fa-twitter"></a>{% endif %}
{% if site.author.linkedin %}<a href="http://www.linkedin.com/in/{{site.author.linkedin}}" class="icon-button fa-linkedin-square"></a>{% endif %}
{% if site.author.codepen %}<a href="http://www.codepen.io/{{site.author.codepen}}" class="icon-button fa-codepen"></a>{% endif %}
{% if site.author.shadertoy %}<a href="http://www.shadertoy.com/user/{{site.author.shadertoy}}" class="icon-button fa-eye"></a>{% endif %}
